.App{
    background-image: url('./img/background.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    font-size: 54px;
    color: white;
    font-family: Montserrat;
    margin-top: 127px;
    margin-bottom: 22px;
}